/**
 * @name TheDivision2
 * @version 0.0.0.3
 * @description The Division 2 Style of theme
 * @source https://github.com/LJack2k/BetterDiscord_TheDivision2/BetterDiscord_TheDivision2.css
 * @updateUrl https://github.com/LJack2k/BetterDiscord_TheDivision2/BetterDiscord_TheDivision2.css
 * @author LJack2k#0485
 * @authorId 188593695749046272
*/
:root {
    --div-highlight-orange: #EC6E14;
    --div-mid-orange: #843414;
    --div-dark-orange: #522302;
    --div-panel-border-radius: 10px;
    --div-panel-background: transparent;
    --background-tertiary: transparent;
    --background-primary: transparent;
    --background-secondary: transparent;
}

#app-mount {
    background: rgb(45,45,45);
    background: linear-gradient(180deg, rgb(0 0 0) 0%, rgb(25 16 0) 100%);
}

/* Border */
.peopleColumn-1wMU14,
.container-ZMc96U,
.container-1oAagU,
.scroller-3X7KbA,
nav.container-1NXEtd,
section.panels-3wFtMD,
section.title-31SJ6t,
.messagesWrapper-RpOMA3,
form.form-3gdLxP,
.container-2o3qEW,
nav.privateChannels-oVe7HL {
    border-radius: var(--div-panel-border-radius);
    background: var(--div-panel-background);
    border: 1px solid var(--div-highlight-orange);
}

/* Guild navigation */
.scroller-3X7KbA {
    border-radius-bottom-right: 5px;
}

/* channels in guild */
nav.container-1NXEtd {
    margin-left: 5px;
    margin-right: 5px;
}

/* User Controls under channels */
section.panels-3wFtMD {
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

/* Top nagication bar */
section.title-31SJ6t {
    margin: 0px 5px 0px 0px;
    padding: 0px;
}

/* whole chat box section including members and nav bar at the top */
.chat-2ZfjoI {
}


/* chat messages */
.messagesWrapper-RpOMA3 {
    margin: 0px;
    margin-top: 5px;
    margin-right: 5px;
}

/* Chatbox form including typing */
form.form-3gdLxP {
    padding: 0px;
    margin: 5px 5px 0px 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/* Chatbox */
.webkit-QgSAqd {
    background: var(--div-panel-background);
    border-radius: 10px;
}

.typing-2J1mQU {
    background: var(--div-panel-background);
    position: unset;
    border-radius: 10px;
    margin-right: 3px;
}

.channelTextArea-1VQBuV {
    margin: 0px;
}

.container-2o3qEW {
    margin: 5px 0px 0px 0px;
    height: unset;
}

.members-3WRCEx, .members-3WRCEx > div {
    background: transparent;
}

.unread-36eUEm {
    background: #482f01;
    width: 100%;
    height: 16px;
    position: relative;
    top: 25px;
}


/* in channel timestamp divider*/
span.content-3spvdd {
    background: black;
    border: 1px solid var(--div-mid-orange);
    border-radius: 4px;
    color: var(--div-mid-orange);
}

.divider-2rZFJK {
    background: var(--div-mid-orange);
}
/*End in channel timestamp divider*/

nav.privateChannels-oVe7HL {
    margin-left: 5px;
    margin-right: 5px;
}

.newMessagesBar-1hF-9G {
    background: var(--div-highlight-orange);
    color: black;
}

.modeSelected-3DmyhH .content-1gYQeQ {
    background: var(--div-dark-orange);
    color: white;
}

.modeSelected-3DmyhH .content-1gYQeQ:hover {
    background: var(--div-mid-orange);
    color: white;
}


.iconContainer-21RCa3 {
    color: white;
}

.modeSelected-3DmyhH .icon-2W8DHg, .modeSelected-3DmyhH:hover .icon-2W8DHg, .modeUnread-3Cxepe .icon-2W8DHg, .modeUnread-3Cxepe:hover .icon-2W8DHg {
    color: white;
}

.wrapper-NhbLHG:hover {
    background: var(--div-mid-orange);
}

.container-ZMc96U.themed-Hp1KC_ {
    background: var(--div-panel-background);
}

.container-ZMc96U {
    margin-bottom: 5px;
}

.peopleColumn-1wMU14 {
}

.container-1oAagU {
    margin: 0px 0px 0px 5px;
    height: 99.8%;
}

.children-3xh0VB {
}


.title-17SveM,
svg.icon-2xnN2Y {
    color: var(--div-highlight-orange);
}
